body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    width: 100vw;
    z-index: 1000;
    top: 20;
    left: 0;
    position: fixed;
    transition: 0.5s;
}