.nav-desktop {
    width: 100vw;
    height: 160px;
    color: var(--colorFont);
    font-family: var(--fontFamily);
    font-weight: bold;
}

.navIcon {
    width: 100%;
    height: 70%;

    background-color: var(--colorPrincipal);
    border-bottom: solid 5px var(--colorContraste);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonContainer {
    display: flex;
}

.navIcon img {
    width: 250px;
    height: 100%;
    margin-left: 20px;
}

.navIcon button {
    color: white;
    background-color: var(--colorPrincipal);
    border: none;
    display: flex;
    list-style: none;
    margin-right: 50px;
}

.navIcon i {
    font-size: 20px;
}

.navList {
    width: 100%;
    height: 30%;

    background-color: var(--colorSecundario);

    display: grid;
    place-content: center;
}

.navList ul {
    display: flex;
    list-style: none;
    margin-top: 15px;
    gap: 20px;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: var(--colorContraste);
}

.navIcon button:hover {
    color: var(--colorContraste);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1050;
}

.modal-content {
    position: relative;
    width: auto;
    padding: 20px;
    z-index: 1060;
}

/* Nav responsive */

.container-fluid {
    margin-top: -10px;
    background-color: var(--colorPrincipal);
}

.navbar-toggler {
    border: solid 1px var(--colorContraste);
    color: transparent;
}

.iconamoon--menu-burger-horizontal-duotone {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M3 6.001h18m-18 6h18m-18 6h18'/%3E%3C/svg%3E");
}

.navbar-nav a {
    font-family: var(--fontFamily);
    font-weight: 500;
    color: white;
    text-decoration: none;
}

.navbar-nav a:hover {
    color: var(--colorContraste);
}

.icons {
    width: 100%;
    border-top: solid 1px var(--colorContraste);
    display: flex;
    justify-content: center;
    padding: 8px;
}

.navbar-collapse button {
    color: white;
    background-color: var(--colorPrincipal);
    border: none;
    display: flex;
    list-style: none;
}

.navbar-collapse i {
    font-size: 18px;
    margin: 4px;
}

.icons button:hover {
    color: var(--colorContraste);
}

