<main *ngIf="product">
    <div class="viewproduct">
      <div class="img">
        <img [src]="product.images" alt="product">
      </div>
      <div class="description">
        <h1 class="title">{{ product.name }}</h1>
        <div class="price">
          <h5>Precio</h5>
          <p>{{ product.price | currency }}</p>
        </div>
        <p class="descriptionProduct">{{ product.description }}</p>
        <div class="size">
          <h5>Talla *</h5>
          <select class="form-select" aria-label="Default select example">
            <option selected>Selecciona la talla</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        </div>
        <div class="quantity">
          <h5>Cantidad *</h5>
          <app-quantity-input></app-quantity-input>
        </div>
        <div class="d-grid gap-1 col-4">
          <button class="btn" type="button">AÑADIR AL CARRITO</button>
        </div>
      </div>
    </div>
  </main>
  
  <p *ngIf="!product">El producto no se ha encontrado.</p>
  