<div class="container">
  <div class="row">
    <!-- Columna 1 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/acerbis.png" class="img-fluid" alt="Imagen 1">
    </div>
    <!-- Columna 2 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/apinestars.png" class="img-fluid" alt="Imagen 2">
    </div>
    <!-- Columna 3 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/arai.png" class="img-fluid" alt="Imagen 3">
    </div>
    <!-- Columna 4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/bell.png" class="img-fluid" alt="Imagen 4">
    </div>
    <!-- Columna 5 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/dainese.png" class="img-fluid" alt="Imagen 5">
    </div>
    <!-- Columna 6 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/fox.png" class="img-fluid" alt="Imagen 6">
    </div>
  </div>

  <div class="row">
    <!-- Columna 1 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/givi.png" class="img-fluid" alt="Imagen 7">
    </div>
    <!-- Columna 2 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/hjc.png" class="img-fluid" alt="Imagen 8">
    </div>
    <!-- Columna 3 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/ich.png" class="img-fluid" alt="Imagen 9">
    </div>
    <!-- Columna 4 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/macna.png" class="img-fluid" alt="Imagen 10">
    </div>
    <!-- Columna 5 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/onex.png" class="img-fluid" alt="Imagen 11">
    </div>
    <!-- Columna 6 -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-2 mb-3">
      <img src="assets/marcasAliadas/shaft.png" class="img-fluid" alt="Imagen 12">
    </div>
  </div>
</div>
