.table-container {
    margin-top: 190px;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: var(--colorSecundario);
    border: none;
    color: #fff;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    border: 2px solid var(--colorSecundario);
    border-radius: 0.25rem;
    background-color: #fff;
}

.table th,
.table td {
    padding: 0.75rem;
    vertical-align: top;
}

.table thead th {
    vertical-align: bottom;
    background-color: #e9ecef;
    color: #495057;
}

.table tbody+tbody {
    border-top: 2px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.tdButton button {
    margin: 5px;
}

.table thead th {
    font-weight: 500;
}

/* form */

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal.show {
    display: block;
}

.modal-dialog {
    width: 100%;
    height: 100%;

    display: grid;
    place-content: center;
}

.modal-content {
    width: 600px;
    height: auto;

    background-color: #F6F1F1;
    border: solid 5px var(--colorContraste);
    border-radius: 10px;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.modal-title {
    position: relative;
    display: inline-block;

    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: bolder;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.close {
    background-color: inherit;
    border: none;
    font-size: 25px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    width: 80%;
}

.form-group label {
    margin-top: 10px;
    font-size: 18px;
    font-weight: 400;
}

.form-group input {
    width: 100%;
    height: auto;

    border: solid 1px var(--colorSecundario);
    margin-bottom: 15px;
}

.btn1 {
    border: none;
    background-color: var(--colorSecundario);
    color: white;
    margin: 15px;
}

@media (max-width: 768px) {
    .table-container {
        margin-top: 40px;
    }
}

@media (max-width: 390px) {
    .table-container {
        margin-top: 40px;
    }
}