<main>
    <app-banner class="banner"></app-banner>

    <h2 class="titulo">CATEGORÍAS PRINCIPALES</h2>

    <div class="categorias">
        <div class="categoria1">
            <img src="assets/categoriasPrincipales/indumentaria.jpg" alt="indumentaria">
            <h3>INDUMENTARÍA <br> PARA MOTO</h3>
        </div>
        <div class="categoria1">
            <img src="assets/categoriasPrincipales/accesorios.png" alt="accesorios">
            <h3> ACCESORIOS <br>PARA MOTO</h3>
        </div>
        <div class="categoria1">
            <img src="assets/categoriasPrincipales/intercom.webp" alt="esencial">
            <h3>ESENCIALES <br>PARA MOTO</h3>
        </div>
    </div>

    <h2 class="titulo">OFERTAS</h2>
    <app-grid-ofertas></app-grid-ofertas>

    <h2 class="titulo">MARCAS ALIADAS</h2>
    <app-grid-marcas></app-grid-marcas>
</main>