.card {
  border: none;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

.card-img-top {
  width: 100%;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.card:hover .card-img-top {
  transform: scale(1.1);
}

.zoom-image {
  transition: transform 0.3s ease-in-out;
}

.zoom-image:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .zoom-image:hover {
    transform: scale(1.04);
  }
}
