<div class="loginContainer">
  <h1>INICIA SESIÓN</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="inputForm">
      <label>
        Correo <br>
        <input type="text" formControlName="mail" id="mail" required>
      </label>
    </div>

    <div class="inputForm">
      <label for="">Contraseña </label>
      <div class="passwordInput">
        <input 
          [type]="showPassword ? 'text' : 'password'" 
          formControlName="password" 
          id="password" 
          required
        >
        <button type="button" (click)="togglePasswordVisibility()">
          <i [class]="showPassword ? 'fas fa-eye-slash' : 'fas fa-eye'"></i>
        </button>
      </div>
    </div>

    <div class="addContainer">
      <label>
        <input type="checkbox" formControlName="rememberUser"> <br>
        Recuérdame
      </label>
      <p>
        <button type="button" class="btnLink">
          ¿Olvidaste la contraseña?
        </button>
      </p>
    </div>

    <div class="d-grid gap-1 col-4">
      <button class="btn" type="submit">Inicia sesión</button>
    </div>
    
    <p>¿No estás registrado? <button type="button" class="btnLink">Regístrate</button></p>
    
    <p>Inicia sesión con:</p>

    <div class="social">
      <ul>
        <li><a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a></li>
        <li><a href="https://accounts.google.com/"><i class="fa-brands fa-google"></i></a></li>
        <li><a href="https://x.com/"><i class="fa-brands fa-x-twitter"></i></a></li>
      </ul>
    </div>
  </form>
</div>
