.promotionBanner {
    width: 100vw;
    height: 30px;
    overflow: hidden;
    position: relative;
}

.bannerContent {
    position: absolute;
    white-space: nowrap;
    animation: moveText 15s linear infinite;
}

.bannerContent span {
    display: inline-block;
    padding: 5px 0;
    color: white;
    font-family: var(--fontFamily);
    font-size: 15px;
    font-weight: bold;
}

@keyframes moveText {
    0% {
        transform: translateX(450%);
    }

    100% {
        transform: translateX(-100%);
    }
}

@media (max-width: 768px) {

    .bannerContent{
        animation: moveText 10s linear infinite;
    }

    @keyframes moveText {
        0% {
            transform: translateX(20%);
        }
    
        100% {
            transform: translateX(-100%);
        }
    }
};